.logo-wrap {
	text-align: center;
}

.logo {
    height: 120px;
    width: 200px;
    overflow: hidden;
    display: inline-block;
}
img {
	width: 100%;
	text-align: center;
}
.title {
	color: #0065ff;
}
.logo-img{
	width: 100%;
}
.logo::before {
  height: 100%;
  width: 0;
  line-height: 100%;
  vertical-align: middle;
}

.logo-header {
	width: 80px;
	height: 40px;
	overflow: hidden;
	margin: 0 auto;
}
.ui-header .ui-title, .ui-footer .ui-title {
    font-size: 1em;
    min-height: 1em;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 1em 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: 0!important;
}

.header {
    background: -webkit-gradient(linear,left top,left bottom,from(#5b2333),to(#3b1f2b));
}
#about,
#motorcycles,
#home {
background: -moz-linear-gradient(224deg, rgba(0,128,0,1) 0%, rgba(0,255,255,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,255,255,1)), color-stop(100%, rgba(0,128,0,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(224deg, rgba(0,128,0,1) 0%, rgba(0,255,255,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(224deg, rgba(0,128,0,1) 0%, rgba(0,255,255,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(224deg, rgba(0,128,0,1) 0%, rgba(0,255,255,1) 100%); /* ie10+ */
background: linear-gradient(226deg, rgba(0,128,0,1) 0%, rgba(0,255,255,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#008000',GradientType=1 ); /* ie6-9 */
}